/*  
    #a4c2d1; egg blue
    #dbdcde; light grey
    #1f7798; mid-blue
    #184f63; dark-blue
*/

/* global styles */

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins&display=swap');
/*body colour and font*/
body {
    font-family: "poppins", sans-serif;
    background-color: #a4c2d1;
}

.sharp-corners, .sharp-corners * {
    border-radius: 0 !important;
}

/*headings font and colour*/
h1, h2 
{
    font-family: "DM Serif Display", serif;
    color: #184f63;
}

/*about section*/
#about {
    background-color: white;
}

/*portfolio section*/
#portfolio {
    background-color: #dbdcde;
}

#portfolio .card-title {
    color: #1f7798;
    font-size: 1.2rem;
}

#portfolio .card-text {
    color: #000000;
    min-height: 120px;
}

/*contact section*/
#contact {
    background-color: white;
    color: white;
    padding: 50px 0;
}

#hero {
    background-color: #dbdcde;
    /*img does not work for some reason*/
    background-image: url("../portfolio-example/assets/images/hero-img-cv-example.webp");
    background-size: cover;
    background-position: 50% 70%;
    min-height: 500px;
    padding: 5% 7%;
}

.hover:hover {
    background-color: #1f7798;
    color: white;
}






.black-font {
    color: #000000;
}


/*media queries*/
@media scren and (min-width: 1200px) {
    /*fixes all portfolio cards being wrong size on xl screens*/
    #portfolio .card-text {
        min-height: auto;
    }
}